html, body{
    max-width: 1592px;
    margin: 0 auto;
}

div.image-view{
    height: 490px;
    width: 93%;
    border-radius: 69px;
    position: relative;
    margin-top: 194px;
}


div.image-view picture img{
    min-width: 828px;
        height: auto;
        object-fit: contain;
        object-position: center;
        top: -83px;

}


div.layout-benefit{
    grid-template-columns: repeat(4, 1fr);
}

section.view{
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.view img{
    min-width: 51%;
    height: 550px;
    margin: 6px 41px;
}

section.plans{
    flex-direction: column;
}

div.layout-plans{
    width: 90%;
}

div.plans{
    width: 40%;
}

div.depoiment {
    display: flex;
    align-items: center;
}

div.depoiment hr{
    display: none;
}

div.side-discover{
    width: 100%;
}

div.side-discover h2{
   width: 60%;
}

section.discover img.images-page{
    max-width: 90%;
    height: auto;
}


section.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}