div.link-menu {
    display: flex;
}

div.link-menu ul{
    display: flex;
    flex-direction: row;
}

div.link-menu ul li{
    margin: 0 14px;
}

section.principal h1{
    font-size: 10rem;
}


div.image-view{
    height: 363px;
    border-radius: 20px;
    position: relative;
    margin-top: 100px;
}


div.image-view picture img{
    min-width: 710px;
    height: auto;
    top: -77px;

}


div.layout-benefit{
    grid-template-columns: repeat(2, 1fr);
}

section.explain img{
    min-width: 90%;
    height: auto;
}
